body {
   font-family: "Helvetica", "Arial", sans-serif;
   margin-top: 12%;
   margin-bottom: 12%;
   overflow-y: scroll; /*prevent shift when scrollbar appears*/
}

h1 {
   margin-left: 15.5%;
   font-size: 6vw;
}

a {
   color: #047abf; 
}

.container {
   display: flex;
   flex-direction: column;
   row-gap: 2vw; 
   width: 60%;
   margin-left: 16%;
}

summary {
   font-size: 2vw; 
}

p {
   font-size: 1.5vw;
   margin-left: 3.2%; 
}

.media-in-details {
   width: 50%; 
   height: 50%;
}